{% load static %}
{% load vite %}
<!DOCTYPE html>
<html lang="es" data-theme="florBlanca">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'logo.jpeg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Flor Blanca</title>
    <link rel="manifest" href="{% static  'manifest.webmanifest' %}">
    <meta name="description" content="Visiones con La Flor Blanca">
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <!-- <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" sizes="180x180"> -->
    <link rel="mask-icon" href="{% static  'mask-icon.svg' %}" color="#000000">
    <meta name="theme-color" content="#000000">
    {% load_vite_bundles %}
  </head>
  <body class="font-serif">
    <div id="root"></div>
  </body>
</html>
