{% load static %}
{% load vite %}
<!DOCTYPE html>
<html lang="es" data-theme="florBlanca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" sizes="48x48">
    <!-- PWA web Manifest -->
    <link rel="manifest" href="{% static  'manifest.webmanifest' %}">
    <!-- IOS required -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="La Flor Blanca">
    <meta name="description" content="Visiones con La Flor Blanca">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon-180x180.png' %}" sizes="180x180"/>
    <!-- apple splash links -->
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'apple-splash-portrait-light-1284x2778.png' %}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'apple-splash-landscape-light-2778x1284.png' %}">
    <link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'apple-splash-portrait-dark-1284x2778.png' %}">
    <link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'apple-splash-landscape-dark-2778x1284.png' %}">
    <!-- Theme meta -->
    <meta name="theme-color" content="#ffffff"/>
    <title>La Flor Blanca</title>
    {% load_vite_bundles %}
  </head>
  <body class="font-serif">
    <div id="root"></div>
  </body>
</html>
