<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <style>
      .footer {
        text-align: center;
        color: #fff;
        font-size: 12px;
        padding: 10px 0;
        margin-top: 20px;
        background: linear-gradient(to right, #60a5fa, #8b5cf6);
      }
    </style>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      padding: 20px;
    "
  >
    <h1 style="color: #90479e; text-align: center">
      Hello, {{ recipient_name }}!
    </h1>
    <p style="color: #666; text-align: center">
      This is an example of an HTML email sent from a Django application.
    </p>
    <img
      src="https://i.pinimg.com/originals/40/8e/de/408ededb2e73c5b17a293ae7e8e820f8.jpg"
      alt="Lotus flower"
      width="300"
      height="200"
      style="display: block; margin: 0 auto"
    />
    <div class="footer">&copy; 2024 La Flor Blanca.</div>
  </body>
</html>
